/* EPiSODIOS */
.episodios {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.episodios h2 {
  color: var(--white-color);
  margin-top: 60px;
  font-size: 30px;
  font-weight: bold;
}

.episodios p {
  color: var(--gray-ligh);
  margin-top: 20px;
}

.episodios-wrapper {
  width: 100%;
  height: auto;
  padding: 40px;
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
}

.episodios-wrapper .episodio {
  background-color: var(--white-color);
  width: 400px;
  min-height: 500px;
  border-radius: 5px;
  margin: 10px 10px;
}

.episodios-wrapper .episodio header {
  width: 100%;
}

.episodios-wrapper .episodio header img {
  width: 100%;
  border-radius: 10px;
}

.episodios-wrapper .episodio main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0px 15px;
  margin: 20px 0;
}
.episodios-wrapper .episodio main p {
  color: var(--black);
}

.episodios-wrapper .episodio main .players {
  list-style: none;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.episodios-wrapper .episodio main li {
  background-color: var(--black);
  border: 1px solid var(--warning);
  width: 100%;
  color: var(--white-color);
  cursor: pointer;
  text-align: center;
  padding: 10px 2px;
  margin: 5px 0px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.episodios-wrapper .episodio main li:hover {
  color: #fff;
}

.episodios-wrapper .episodio main li svg {
  margin: 0px 5px;
}
.episodios-wrapper .episodio main li:nth-child(1):hover svg {
  fill: red;
}
.episodios-wrapper .episodio main li:nth-child(3):hover svg {
  fill: #5cba55;
}
.episodios-wrapper .episodio main li:nth-child(4):hover svg {
  fill: #f79931;
}
.episodios-wrapper .episodio main li:nth-child(5):hover svg {
  fill: #4285f4;
}
.episodios-wrapper .episodio main li:nth-child(6):hover svg {
  fill: #f58631;
}
.episodios-wrapper .episodio main li:nth-child(7):hover svg {
  fill: #a5a5a5;
}

.episodios-wrapper .episodio footer {
  background-color: #f7f7f7;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-radius: 0px 0px 5px 5px;
  border-top: 1px solid var(--gray-ligh);
}

.episodios-wrapper .episodio footer .date {
  font-size: 12px;
}

.episodios-wrapper .episodio footer .btn-comment a {
  color: var(--gray-dark);
  text-shadow: 1px 1px 0px var(--gray-dark);
}

.btn-seeAll {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.seeAll {
  border: 2px solid var(--warning);
  padding: 10px 30px;
}
