/* POP UP */

.pop-up {
    display: flex;
    width: 100%;
    height: 100vh;
    position: fixed;
    overflow: hidden;
    z-index: 99;
    animation: pop-up 2s forwards;
  }
  
  .backover {
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 50;
  }
  
  .overlawer {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .popup-wrapper {
    display: flex;
    position: relative;
    margin: 0 auto;
  }
  
  .popup-wrapper a {
    color: var(--black);
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  .popup-wrapper a:hover {
    text-decoration: underline;
  }
  
  .form-wrapper {
    background-color: var(--gray-ligh);
    display: flex;
    z-index: 60;
    border-radius: 10px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 500px;
    padding: 20px;
    position: relative;
  }
  
  form .popup-title {
    text-align: center;
  }
  
  .popup-wrapper .fechar {
    z-index: 80;
    cursor: pointer;
    position: relative;
    top: -155px;
    left: 1020px;
    background-color: #131c25;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    padding: 8px 0px;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
  }
  
  .input-wrapper {
    width: 80%;
    margin: 10px 0;
  }
  .input-wrapper label {
    color: var(--white-color);
  }
  .input-wrapper label a{
    text-decoration: underline;
  }
  .input-wrapper input[type="email"],
  .input-wrapper input[type="password"] {
    width: 100%;
    text-align: center;
    padding: 8px 2px;
    flex: 1;
    margin-bottom: 5px;
    border-radius: 2px;
    border: 0;
  }
  
  .input-wrapper .checkbox {
    margin-top: 10px;
  }
  .input-wrapper .checkbox input {
    flex: 1;
  }
  
  .overlawer form button {
    border: none;
    background: none;
    color: var(--white-color);
    padding: 10px 100px;
    border: 2px solid var(--black);
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 20px;
    position: relative;
    z-index: 1;
    transition: background-color 0.5s;
  }
  
  .overlawer form button:hover {
    background-color: var(--gray-dark);
  }
  
  .fadeOut {
    animation: fadeOut 0.5s forwards;
  }
  
  .disable {
    display: none;
    transition: 1s;
  }
  
  